<!DOCTYPE html>

<html>
{% load staticfiles %}
<head>
<title>DjanBlog Form</title>
<meta content="text/html" charset="utf-8">
<script type="text/javascript" src={% static "ajax.js" %}></script>
</head>

<body style="width: 800px">
	<div id="column-1" style="float: left">
		<div>
			<form id="author-form">
				<div>
					<label>First Name:</label>
					<input id="firstname" type="text" name="firstname">
				</div>
				<div>
					<label>Last Name:</label>
					<input id="lastname" type="text" name="lastname">
				</div>
				<div>
					<label>Date of Birth:</label>
					<input id="dob" type="date" name="dob">
				</div>
				<div>
					<button type="button" onclick="aForm.sendValues()">CREATE AUTHOR</button>
				</div>
			</form>
		</div>
		<div>
			<form id="id-form">
				<div>
					<label>Get By Id:</label>
					<select id="change-type">
						<option value="/blog/authors/detail">author</option>
						<option value="/blog/posts/detail">post</option>
					</select>	
				</div>
				<div>
					<label>Id:</label>
					<input id="id-form-id" type="text" name="id">
				</div>
				<div>
					<button type="button" onclick="idForm.sendValues()">GET BY ID</button>
				</div>
			</form>
		</div>
	</div>
	<div id="column-2" style="float: right">
		<div>
			<form id="post-form">
				<div>
					<label>Title:</label>
					<input id="title" type="text" name="title">
				</div>
				<div>
					<label>Content:</label>
					<input id="content" type="text" name="content">
				</div>
				<div>
					<label>Author:</label>
					<input id="author" type="text" name="author">
				</div>
				<div>
					<label>Id:</label>
					<input id="post-form-id" type="text" name="id">
				</div>
				<div>
					<button type="button" onclick="pForm.sendNewPost()">CREATE POST</button>
				</div>
				<div>
					<button type="button" onclick="pForm.sendModifiedPost()">MODIFY POST</button>
				</div>
				<div>
					<button type="button" onclick="pForm.sendDeletePost()">DELETE POST</button>
				</div>
			</form>
		</div>
	</div>
</body>

</html>
